:root {
	--black:#a21111 ;
	--purple: #3c40c6;
	--purplehalka: #575fcf;
	--akasi: #0fbcf9;
	--orange: #ffa801;
	--graan: #05c46b;
	--ofwhite: #0b88e8;
	--wt: #fff;
	--blk: #485460;
	--body: #f3f3f3;
	--ddd: #ddd;
	--fb: rgb(49, 126, 234);
	--yt: rgb(235, 0, 55);
	--what: rgb(18, 164, 27);
}
*,
*::after,
*::before{
    box-sizing: border-box;
    
}

.table{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    color: var(--wt);
    background: var(--ofwhite);
    font-size: 20px;
    margin: 50px auto;
    /* border: 2px solid var(--black); */
    border-radius: 10px;

}
table,td,th{
    /* padding: 10px auto; */
    border: 2px solid var(--wt);
    border-collapse:collapse;
    
}
table{
    width: 100%;
    
}
th{
    padding: 10px 0;
}
td{
    text-align: center;
    
}

tr td{
    padding: 20px 0;
}

table a{
    color: var(--graan);
    transition: .5s;
    /* border: 1px solid var(--black); */
}
table a:hover{
    color: var(--wt);
    
}
.year{
    padding: 20px 15px;
}