:root {
	--black:#a21111 ;
	--purple: #3c40c6;
	--purplehalka: #575fcf;
	--akasi: #0fbcf9;
	--orange: #ffa801;
	--graan: #05c46b;
	--ofwhite: #0b88e8;
	--wt: #fff;
	--blk: #485460;
	--body: #f3f3f3;
	--ddd: #ddd;
	--fb: rgb(49, 126, 234);
	--yt: rgb(235, 0, 55);
	--what: rgb(18, 164, 27);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: var(--body);
}
/* Header section */
header {
	background: var(--black);
	text-align: center;
	padding: 10px 0;
	/* display: grid;
	grid-template-columns: 1fr 6fr; */
}
header h1 {
	color: var(--wt);
	display: inline;
}
header img {
	margin: auto;
	width: 30px;
	text-align: left;
}

/* Nav section */

.main_nav {
	background: var(--ofwhite);
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
}
.main_nav ul {
	list-style: none;
	text-align: center;
}
.main_nav ul li {
	display: inline-block;
	position: relative;
}
.main_nav ul li a {
	padding: 10px 15px;
	text-decoration: none;
	font-family: "Arial Narrow Bold", sans-serif;
	color: var(--wt);
	font-size: 18px;
	display: block;
	transition: 0.7s;
}
.main_nav ul li a:hover {
	background: var(--wt);
	color: var(--ofwhite);
}

/* nav mobile */

.mobile{
	display: none;
	
	position: sticky;
	 top:  0;
	 left: 0;
	right: 0;
	
	background: var(--wt);
}
.mobile ul{
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	/* padding: 20px; */
	border-bottom: 2px solid var(--ddd);
	
}

.mobile i{
	color: var(--ofwhite);
	/* display: block; */
	font-size: 23px;
	transition: .7s;
	
}
.mobile a{
	padding: 10px;
	transition: .4s;
	display: block;
	text-align: center;
	color: var(--ofwhite);
}
/* .mobile li{
	padding: 10px;
	
	
} */
.mobile span{
	transition: .4s;
}
.mobile a:hover{
	background: var(--ofwhite);
	/* color: var(--ofwhite); */
	

}
.mobile a:hover i,
.mobile a:hover span{
	color: var(--wt);
}

/* .mobile ul li{
	display: grid;
	grid-template-rows: auto;
	align-items: center;
}
.mobile ul li a{
	color: var(--wt);
} */
/* Eaxm result menu */

.exam {
	position: absolute;
	width: 200px;
	background: var(--ofwhite);
	display: none;
}
.exam li {
	display: block;
	text-align: start;
} 

/* Routine menu */
.routine {
	position: absolute;
	width: 250px;
	background: var(--ofwhite);
	display: none;
}
.main_nav .routine li a{
	display: block;
	text-align: start;
}

/* .main_nav ul li:hover ul {
	display: block;
}  */

/* class menu */

/* .class {
	position: absolute;
	width: 250px;
	background: var(--ofwhite);
	display: none;
}
.class li {
	display: block;
	text-align: start;
} */
/* Notice */
.notice {
	background: var(--ddd);
	color: var(--blk);
	width: 90%;

	margin: 30px auto;
	padding: 40px;
	text-align: center;
	border: 5px solid var(--graan);
	border-radius: 10px;
}
/* footer section */
footer {
	background: var(--black);
}
#main_foot {
	font-family: sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	padding-top: 20px;
}
.infoex {
	display: flex;
	justify-content: space-evenly;
}
#main_foot ul {
	list-style: none;
}
#main_foot ul li {
	padding: 5px;
}
#main_foot .Contact a,
#main_foot .lan a {
	color: var(--wt);
	padding: 10px;
}

#main_foot a:hover {
	text-decoration: underline;
}

#main_foot .logo h2 {
	font-family: "Edu NSW ACT Cursive", cursive;
	font-size: 80px;
	text-align: center;
}
#main_foot .logo h2 img {
	width: 100px;
}
#main_foot i {
	color: var(--body);
	font-size: 30px;
	margin-left: 10px;
}
#main_foot .fa-facebook:hover {
	color: var(--fb);
}
#main_foot .fa-youtube:hover {
	color: var(--yt);
}
#main_foot .fa-whatsapp:hover {
	color: var(--what);
}
#main_foot p {
	color: var(--wt);
}
/* Extra */
a {
	text-decoration: none;
}

.slideshow {
	z-index: -1;
}

.slideshow {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	margin: auto;

	/* border: 3px solid #ddd; */
}
.slideshow img {
	width: 100%;
	height: 100%;
	position: absolute;
	animation: slide 9s infinite;
	opacity: 0;
}
.slideshow img:nth-child(1) {
	animation-delay: 0s;
}
.slideshow img:nth-child(2) {
	animation-delay: 3s;
}
.slideshow img:nth-child(3) {
	animation-delay: 6s;
}

@keyframes slide {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	30% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (min-width: 800px) {
	.slideshow {
		width: 80%;
		height: 400px;
	}
}
.letter p{
	text-align:center;
}

.recent{
	background: var(--black);
	color: var(--wt);
	padding: 10px;
	text-align: center;
	margin-top: 20px;

}
/* .face{
	display: none;
} */
/* Post */
.face p{
	font-size: 20px;
	margin-top: 50px;
}
.face img{
	width: 100%;
	border-radius: 10px;
}
.face div{
	width: 95%;
	margin:20px auto;
	padding: 30px 50px;
	border: 3px solid var(--ofwhite);
	border-radius: 10px;
}
.face .itel{
	font-size: 15px;
}

